<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>ページが見つかりません</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- cssファイル読み込み -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Google Font 読み込み -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>

</head>
<body>

<div class= "container">
 <div class="boo-wrapper">
  <div class="boo">
                <div class="face"></div>
            </div>
            <div class="shadow"></div>
            <h1>404</h1>
            <p>
                Page Not Found.
                <br>
                お探しのページは見つかりませんでした。
                <br>
                <a href="/empList" class="employeeList">一覧表へ戻る</a>
            </p>
        </div>



</div>



</body>
</html>